<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="this.selectedChapter || this.planContent.length"
        (click)="confirm()"
        >Confirm</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="!selected" class="buttons">
    <ion-buttons *ngFor="let book of this.bible.books">
      <ion-button size="small" (click)="selectBook(book)"
        >{{ book.name }}
        <ion-icon
          *ngIf="this.selectedBook === book && !plan"
          name="checkmark-outline"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </div>

  <div *ngIf="selected && !selectedChapterFlag" class="buttons">
    <ion-button color="light" size="small" (click)="deselectC()"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-button>
    <ion-buttons *ngFor="let chapter of this.selectedBook.chapters">
      <ion-button size="small" (click)="selectChapter(chapter)"
        >{{ chapter.chapter }}

        <div *ngIf="!plan; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-icon
            *ngIf="this.selectedChapter === chapter"
            name="checkmark-outline"
          ></ion-icon>
        </ng-template>
        <ng-template #elseBlock>
          <ion-icon
            #elseBlock
            *ngIf="this.planContent.includes(chapter)"
            name="checkmark-outline"
          ></ion-icon>
        </ng-template>
      </ion-button>
      <ion-button
        *ngIf="plan"
        color="medium"
        size="small"
        fill="outline"
        (click)="toVerses(chapter)"
        ><ion-icon name="return-down-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </div>

  <div *ngIf="selectedChapterFlag" class="buttons">
    <ion-button color="light" size="small" (click)="deselectV()"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-button>
    <ion-buttons *ngFor="let verse of this.selectedChapter.verses">
      <ion-button size="small" (click)="selectVerse(verse)"
        >{{ verse.verse }}
        <div *ngIf="!plan; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-icon
            *ngIf="this.selectedVerse.includes(verse)"
            name="checkmark-outline"
          ></ion-icon>
        </ng-template>
        <ng-template #elseBlock>
          <ion-icon
            #elseBlock
            *ngIf="this.planContent.includes(verse)"
            name="checkmark-outline"
          ></ion-icon> </ng-template
      ></ion-button>
    </ion-buttons>
  </div>
</ion-content>
