<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Font Color</ion-label>
    <input
      type="color"
      #colorPicker1
      class="color-picker"
      [(ngModel)]="settings.fontColor"
    />
    <button
      (click)="openColorPickerFont()"
      [style.background]="settings.fontColor"
      class="color-picker-button"
    ></button>
  </ion-item>

  <ion-item>
    <ion-label>Highlight Color</ion-label>
    <input
      type="color"
      #colorPicker2
      class="color-picker"
      [(ngModel)]="settings.highlight"
    />
    <button
      (click)="openColorPickerHighlight()"
      [style.background]="settings.highlight"
      class="color-picker-button"
    ></button>
  </ion-item>

  <ion-item>
    <ion-label>Font Size</ion-label>
    <ion-range
      min="15"
      max="30"
      step="1"
      pin="true"
      [(ngModel)]="settings.fontSize"
    >
      <ion-label slot="start">15</ion-label>
      <ion-label slot="end">30</ion-label>
    </ion-range>
  </ion-item>

  <ion-button expand="full" (click)="saveSettings()">Save</ion-button>
</ion-content>
