.color-picker {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color-picker-button {
  width: 9vw;
  max-width: 50px;
  height: 25px;
  border: 1px solid black;
  border-radius: 15%;
}
