<ion-card>
  <ion-card-header>
    <ion-card-title>{{ plan?.plan }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      Start Date: {{ plan?.start_date | timestampToDate | date : "mediumDate" }}
    </p>
    <p>
      End Date: {{ plan?.end_date | timestampToDate | date : "mediumDate" }}
    </p>

    <ion-button color="light" size="default" (click)="toggleAccordion()">
      <ion-icon
        [name]="accordionExpanded ? 'chevron-up' : 'chevron-down'"
      ></ion-icon>
      Reading Plan
    </ion-button>

    <cdk-virtual-scroll-viewport
      *ngIf="accordionExpanded"
      itemSize="40"
      class="scroll-viewport"
    >
      <ion-list *ngIf="accordionExpanded">
        <ion-item *cdkVirtualFor="let readingItem of plan?.reading">
          <ion-label>{{
            readingItem.date | timestampToDate | date : "mediumDate"
          }}</ion-label>
          <ion-note slot="end">{{ readingItem.chapter }}</ion-note>
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>

    <ion-button
      *ngIf="!finished"
      color="success"
      fill="outline"
      class="start-button"
      (click)="openModal()"
    >
      {{ !started ? "Start" : "Continue" }}
    </ion-button>
    <ion-button *ngIf="finished" color="success" class="start-button" disabled>
      Finished
    </ion-button>
  </ion-card-content>
</ion-card>
