.header-content {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.title {
  width: auto;
}

.translations {
  width: 60vw;
}

ion-title {
  flex: unset;
}

.choose-translation {
  margin: 0 auto;
}

.list-md {
  padding: 4px;
}

.option-text {
  text-transform: uppercase;
}

::ng-deep .mycomponent-wider-popover {
  --width: 95%;
  --max-width: 400px;
}
