<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-title class="title">
        <ion-button class="search-button" color="light" (click)="openModal()"
          ><ion-icon name="search-circle-outline"></ion-icon>Biblia</ion-button
        >
      </ion-title>
      <div id="container" class="translations">
        <div class="choose-translation">
          <ion-list>
            <ion-item>
              <ion-select
                placeholder="Translations"
                (ionChange)="handleChange($event)"
                interface="popover"
                [interfaceOptions]="{ cssClass: 'mycomponent-wider-popover' }"
                *ngIf="loaded"
              >
                <ion-select-option
                  *ngFor="let translation of translations; let i = index"
                  value="{{ translation.abbreviation }}"
                  class="option-text"
                  [matTooltip]="translation.translation"
                >
                  {{ translation.translation }} - ({{ translation.language }})
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="bible">
    <app-bible-content
      [bible]="this.bible"
      [selectedBook]="this.selectedBook"
      [selectedChapter]="this.selectedChapter"
      [selectedVerse]="this.selectedVerse"
    ></app-bible-content>
  </div>
</ion-content>
