<div class="content-container" *ngIf="loaded">
  <div class="text-container">
    <div>
      <h1 class="text-center">
        {{ selectedChapter.name }}
      </h1>
      <ng-container
        class="verses-text fs-1"
        *ngFor="
          let verse of !selectedVerse?.length
            ? selectedChapter.verses
            : selectedVerse
        "
      >
        <sup> ({{ verse.verse }}) </sup>
        <span
          class="vers-text"
          *ngIf="likeNames.includes(verse.name)"
          [style.background]="settings.highlight"
          [style.color]="settings.fontColor"
          [style.font-size.px]="settings.fontSize"
          (mousedown)="handleMouseDown($event)"
          (dblclick)="handleDoubleClick($event, verse.name, verse.text)"
          >{{ verse.text }}</span
        >
        <span
          class="vers-text"
          *ngIf="!likeNames.includes(verse.name)"
          [style.color]="settings.fontColor"
          [style.font-size.px]="settings.fontSize"
          (mousedown)="handleMouseDown($event)"
          (dblclick)="handleDoubleClick($event, verse.name, verse.text)"
          >{{ verse.text }}</span
        >
      </ng-container>
    </div>
  </div>

  <div *ngIf="!selectedVerse && selectedChapter" class="d-flex">
    <ion-button
      class="w-50"
      color="light"
      expand="block"
      (click)="back()"
      [disabled]="selectedBook.nr === 1 && selectedChapter.chapter === 1"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-button>
    <ion-button
      class="w-50"
      color="light"
      expand="block"
      (click)="forward()"
      [disabled]="
        selectedBook.nr === bible.books.length &&
        selectedChapter.chapter === selectedBook.chapters.length
      "
      ><ion-icon name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </div>
  <ion-button
    *ngIf="selectedVerse"
    color="light"
    expand="block"
    (click)="fullChapter()"
    >Full chapter</ion-button
  >
</div>
