<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ plan.plan ? plan.plan : "Plan" }}</ion-title>
    <ion-buttons *ngIf="doneDelay" slot="end">
      <ion-button *ngIf="!multiple" size="large" (click)="finishPlan()"
        ><ion-icon name="checkmark-circle-outline"></ion-icon
      ></ion-button>
      <ion-button *ngIf="multiple" size="large" (click)="finishPlan()"
        ><ion-icon
          *ngIf="this.day < plan.reading.length"
          [name]="
            index !== plan.reading[this.day].chapter.length - 1
              ? 'chevron-forward-circle-outline'
              : 'checkmark-circle-outline'
          "
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded" [fullscreen]="true">
  <h1 class="title">{{ actualText.name }}</h1>
  <div *ngIf="actualText.verses">
    <ng-container
      class="verses-text fs-1"
      *ngFor="let verse of actualText.verses"
    >
      <sup> ({{ verse.verse }}) </sup>
      <span
        class="vers-text"
        [style.color]="settings.fontColor"
        [style.font-size.px]="settings.fontSize"
        >{{ verse.text }}</span
      >
    </ng-container>
  </div>
  <div *ngIf="!actualText.verses" class="container">
    <ng-container class="verses-text fs-1">
      <span
        class="vers-text"
        [style.color]="settings.fontColor"
        [style.font-size.px]="settings.fontSize"
        >{{ actualText.text }}</span
      >
    </ng-container>
  </div>
</ion-content>
