<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bible">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Bible</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plans" *ngIf="publicContentEnabled">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Let's read</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="login()" *ngIf="!publicContentEnabled">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Let's read</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account" *ngIf="publicContentEnabled">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Your activity</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="login()" *ngIf="!publicContentEnabled">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Your activity</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
