<ion-header class="mb-4">
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username" type="text" required></ion-input>
  </ion-item>

  <ion-button
    expand="full"
    [disabled]="!email || !password || !username"
    (click)="signUp()"
    >Sign Up</ion-button
  >

  <app-signin></app-signin>

  <div class="ion-text-center">
    Already have an account? <a href="/login">Login</a>
  </div>
</ion-content>
