<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Plan:</ion-label>
    <ion-input [(ngModel)]="plan"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Start Date:</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        #startTime
        [min]="today"
        id="datetime"
        presentation="date"
        showDefaultButtons="true"
        (ionChange)="changeDate(startTime.value)"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-item>
    <ion-label>Number of days:</ion-label>
    <ion-input type="number" placeholder="000" [(ngModel)]="days"></ion-input>
  </ion-item>

  <ion-list *ngIf="days">
    <ion-item *ngFor="let _ of [].constructor(days); let i = index">
      <ion-label>Day {{ i + 1 }}:</ion-label>

      <ion-button class="search-button" color="light" (click)="openModal(i)"
        >{{ this.reading[i] ? "Change " : "Text for day "
        }}{{ i + 1 }}</ion-button
      >
      <div *ngIf="this.reading[i]" class="reading-list">
        <div *ngFor="let chapter of this.reading[i].chapter">
          {{ chapter
          }}<span *ngIf="this.reading[i].chapter.slice(-1)[0] !== chapter"
            >,
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    [disabled]="days !== this.reading.length"
    (click)="savePlan()"
    >Save Plan</ion-button
  >
</ion-content>
