<ion-header class="mb-4">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>

  <ion-button
    id="login-toast"
    [disabled]="!email || !password"
    expand="full"
    (click)="login()"
    >Login</ion-button
  >

  <app-signin></app-signin>

  <div class="ion-text-center">
    Don't have an account? <a href="/signup">Sign Up</a>
  </div>
  <div class="ion-text-center">
    <a href="/tabs/bible">Access without account</a>
  </div>
</ion-content>
