<div class="formGroup" *ngIf="!isMobile">
  <ion-button expand="full" color="danger" (click)="authService.GoogleAuth()">
    <ion-icon class="m-1" name="logo-google"></ion-icon>
    Sign up with Google
  </ion-button>
</div>
