<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reading plans </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button
    class="ion-margin"
    color="medium"
    expand="block"
    (click)="openPlanModal()"
    >Create Plan</ion-button
  >

  <ion-list *ngIf="plansLoaded" class="ion-no-padding">
    <app-plan
      *ngFor="let plan of savedPlans; let i = index"
      [planId]="planIds[i]"
      [plan]="plan"
    ></app-plan>
  </ion-list>
  <div class="text-center" *ngIf="!plansLoaded">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
