<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> My activity </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Settings</ion-label>
    <ion-button color="light" (click)="openSettingsModal()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="fs-5 mt-2 mb-1 mx-4" *ngIf="likedVerses.length > 0">
    Liked verses
  </div>
  <ion-item
    *ngIf="likedVerses.length > 0"
    [style.height]="calculateViewportHeight()"
    class="likedList"
  >
    <cdk-virtual-scroll-viewport
      autosize
      [style.height]="calculateViewportHeight()"
      [minBufferPx]="getHalfViewportHeight()"
      [maxBufferPx]="getHalfViewportHeight()+100"
      class="scroll-viewport"
    >
      <ion-list *cdkVirtualFor="let verse of likedVerses">
        <ion-item class="scroll-item"
          ><ion-label class="ion-text-wrap"
            >{{verse.verseText}} <br />
            ({{ verse.verseName }})</ion-label
          >
        </ion-item>
      </ion-list>
    </cdk-virtual-scroll-viewport>
  </ion-item>

  <ion-button
    class="log-out-button"
    expand="block"
    color="danger"
    (click)="logOut()"
  >
    <ion-icon name="log-out"></ion-icon>
    Logout
  </ion-button>
</ion-content>
