.log-out-button {
  margin-top: 20px;
  --background: linear-gradient(to right, #ff416c, #ff4b2b);
  --background-activated: linear-gradient(to right, #ff4b2b, #ff416c);
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --border-radius: 20px;
  --color: white;
  --padding-top: 10px;
  --padding-bottom: 10px;

  ion-icon {
    margin-right: 10px;
  }
}

.likedList {
  height: 50vh;
}

.scroll-viewport {
  height: 50vh;
  width: 100%;
}

.scroll-item {
  height: auto;
}
